#titulo_primeiro {
    color: rgb(255, 255, 255);
    background-color: #8B6F1E;;
}
.titulo_segundo {
    color: rgb(255, 255, 255);
    background-color:#2F4F2F;;
}
.titulo_terceiro {
    color: rgb(255, 255, 255);
    background-color: #2F4F2F;;
}
.titulo_quarto {
    color: rgb(255, 255, 255);
    background-color: #2F4F2F;;
}
.titulo_quinto {
    color: rgb(255, 255, 255);
    background-color: #2F4F2F;;;
}
.titulo_sexto {
    color: rgb(255, 255, 255);
    background-color: #2F4F2F;;
}
.titulo_setimo {
    color: rgb(255, 255, 255);
    background-color: #2F4F2F;;
}
.titulo_oitavo{
    color: rgb(255, 255, 255);
    background-color: #2F4F2F;;
}

#Titulo_1{
    color: rgb(255, 255, 255);
    background-color: #2F4F2F;;
}